*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
}

body{
    font-family: $basefontfamily,serif;
    color: $basefontcolor;
}

// 模組區-----------
.maincolor{
    color: $maincolor;
}

.lh-24{
    line-height: 24px;
}

.bold{
    font-weight: bold;
}

.section-space{
    margin-bottom: 100px;
}

.fee-btn{
    display: inline-block;
    background: $maincolor 0% 0% no-repeat padding-box;
    border: 1px solid $maincolor;
    border-radius: 27px;
    color: white;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 32px;

    &:active{
        background: lighten($maincolor, 10%)
    }
}

.m-title{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
}

.radius-shadow{
    background: $basebgcolor;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}
// 模組區end----------

// 全頁背景-----------
.index-body{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg)no-repeat top right;
    background-size: 60%;

}

.hiroball-1{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg)no-repeat; 
    width: 360px;
    height: 360px;
    position: absolute;
    top: 100vh;
    left: 0;
    z-index: -1;
    transform: translate(-67%,-30%);
}

.hiroball-2{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg)no-repeat; 
    background-size: cover;
    width: 210px;
    height: 310px;
    position: absolute;
    top: 100vh;
    right: 0;
    z-index: -1;
    transform: translate(0,350%);
}

.hiroball-3{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg)no-repeat center center; 
    background-size: contain;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(35%,1850%);
}

.feeintro-body{
    background-size: 0;
    .bg-block{
        background: #F7F9FD 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 0px 300px;
        width: 100vw;
        height: 470px;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.bg-bn{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg)no-repeat top right;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    z-index: -1;
}

.hiroball-4{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg)no-repeat top right; 
    background-size: cover;
    width: 94px;
    height: 361px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(0%,210%);
}
// 背景end----------
.mobile-header{
    display: none;
}

.container{
    max-width: 1120px;
    padding: 0 16px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    margin-bottom: 30px;

    .logo{
        img{
            max-height: 40px;
            width: auto;
        } 
    }

    .fee-btn-org{
        background: #FF5D50;
        border: 1px solid #FF5D50;
        border-radius: 22px;
        color: white;
        line-height: 24px;
        padding: 8px 0;
        text-align: center;
        width: 128px;
    
        &:active{
            background: lighten(#FF5D50, 10%)
        }
    
    }
}

.promo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 217px;
    .slogan{
        align-self: center;
        h2{
            font-size: 18px;
            line-height: 26px;
        }
        p{
            font-size: 48px;
            line-height: 70px;
        }

        h3{
            font-size: 20px;
            line-height: 29px;
        }

    }
    
    .promoimg{
        max-width: 532px;
    }

}

.sns{
    max-width: 969px;
    margin-left: auto;
    margin-right: auto;
    .sns-title{
        text-align: center;
        margin-bottom: 48px;
    }
    ul{
        display: flex;
        justify-content: space-between;

        .sns-card{
            width: 30%;
            text-align: center;

            img{
                max-width: 90px;
                margin: 24px auto;
            }

            h4{
                font-size: 24px;
                line-height: 35px;
                margin-bottom: 24px;
            }
            p{
                color: #747474;
            }
        }
    }
}

.role{
    max-width: 1088px;
    text-align: center;
    .role-description{
        font-size: 20px;
        line-height: 29px;
        margin-top: 16px;
        margin-bottom: 48px;

    }

    .role-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .role-card{
            width: 23.5%;
            margin-right: 16px;
            text-align: center;
            padding-bottom: 24px;
            &:last-child{
                margin-right: 0;
            }
            img{
                border-radius: 12px 12px 0 0;
            }

            h5{
                margin: 16px 0;
            }

            p{
                margin: 0 16px;
            }
        }
    }
}

.feature{
    max-width: 1039px;
    display: flex;
    justify-content: space-between;
    .feature-list{
        max-width: 507px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .feature-card{
            width: 45%;
            padding: 32px 32px 48px 32px;
            margin-bottom: 28px;
            .feature-icon1{
                @include circle("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon01.svg",auto,86px)
            }

            .feature-icon2{
                @include circle("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon02.svg",auto,86px)
            }

            .feature-icon3{
                @include circle("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon03.svg",auto,86px)
            }

            .feature-icon4{
                @include circle("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon04.svg",auto,86px)
            }
            h4{
                font-size: 18px;
                line-height: 26px;
                margin: 24px auto 16px 0;
            }

            p{
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .feature-knowmore{
        align-self: center;
        h3{
            font-size: 32px;
            line-height: 46px;
            margin-bottom: 16px;
        }

        p{
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 24px;
        }
    }
}

.praise{
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
    h4{
        margin-bottom: 104px;
        text-align: center;
    }
    .praise-list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        .praise-card{
            width: 32%;
            margin-right: 16px;
            padding: 48px 32px 24px 32px;
            position: relative;
            &:last-child{
                margin-right: 0;
            }
            .user-icon1{
                @include circle("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/user01.jpg?raw=true",contain,80px);
                position:absolute;
                top: -48px;
                left: 32px;
            }

            .user-icon2{
                @include circle("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/user02.jpg?raw=true",contain,80px);
                position: absolute;
                top: -48px;
                left: 32px;
            }

            .user-icon3{
                @include circle("https://github.com/hexschool/webLayoutTraining1st/blob/master/chatTalker_images/user03.jpg?raw=true",contain,80px);
                position: absolute;
                top: -48px;
                left: 32px;
            }
            .user-report{
                text-align: left;
                line-height: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid #DDDDDD;
            }
            .user-company{
                margin-top: 24px;
                margin-bottom: 8px;
            }
            .namerate{
                display: flex;
                justify-content: space-between;

                .rate{
                    align-self: center;
                    display: flex;
                    justify-content: space-between;

                    .star{
                        margin-left: 8px;
                    }
                }
            }
        }
        }
        
    .function-dot{
        display: flex;
        justify-content: center;
        .dot{
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #DDDDDD;
            margin-right: 8px;

            &:last-child{
                width: 16px;
                height: 10px;
                border-radius: 50px;
                background: #FFD153;
            }
            
        }

    }  
    }

footer{
    max-width: 100%;
    .letstalk{
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg)no-repeat top left,white;
        background-size: 100%;
        text-align: center;
        padding-top: 260px;
        padding-bottom: 100px;
        h3{
            margin-bottom: 48px;
        }
    }
    .copyright{
        text-align: center;
        background: #F5F5F5;
        line-height: 24px;
        padding: 16px 0 16px 0;
    }
}
// feeintro---------------
.fee-intro{
    margin-top: 92px;
    margin-bottom: 269px;
    h3{
        font-size: 48px;
        line-height: 70px;
    }

}

.plan{
    max-width: 909px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .plan-range{
        display: flex;
        justify-content: center;
        margin: 48px -16px 54px auto;
        .plan-list{
            margin-right: 16px;
            background: $basebgcolor 0% 0% no-repeat padding-box;
            border: 1px solid $maincolor;
            border-radius: 27px;
            color: $maincolor;
            font-size: 18px;
            line-height: 26px;
            padding: 12px 0;
            width: 130px;
            &:active{
                background: $maincolor;
                color: white;
            }
        }
    }
    .plan-compare{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .plan-base{
            width: 48%;
            text-align: center;
            padding-bottom: 32px;
            .plan-base-title{
                font-size: 24px;
                line-height: 35px;
                border-bottom: 1px solid #DDDDDD;
                padding: 10px 0 16px 0;
            }
            .plan-base-adv{
                margin: 32px auto;
            }
            .sub-price{
                display: flex;
                justify-content: center;
                margin-left: 24px;
                margin-right: 24px;
                margin-bottom: 32px;
                .sub{
                    width: 169px;
                    padding: 24px 0px;
                    text-align: center;
                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    .sub-number{
                        font-size: 12px;
                        line-height: 17px;
                        margin-bottom: 8px;
                    }
                    .sub-function{
                        color: $maincolor;
                        display: flex;
                        justify-content: center;
                        .sub-rate{
                            font-size: 32px;
                            line-height: 35px;
                            margin-right: 8px;
                        }
                        p{
                            align-self: end;
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
                .equal{
                    font-size: 29px;
                    line-height: 42px;
                    align-self: center;
                    margin: 0 21px;
                }
                .price{
                    width: 169px;
                    padding: 24px 0px;
                    text-align: center;
                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    .monthly{
                        font-size: 12px;
                        line-height: 17px;
                        margin-bottom: 8px;
                    }
                    .price-function{
                        display: flex;
                        justify-content: center;
                        .price-rate{
                            font-size: 32px;
                            line-height: 35px;
                            margin-right: 8px;
                        }
                        p{
                            align-self: end;
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
            }
            .plan-feature{
                text-align: left;
                list-style: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg);
                list-style-position: outside;
                margin-left: 50px;
                .plan-feature-list{
                    margin-bottom: 16px;
                }
            }
            .fee-btn{
                margin-top: 16px;
            }
        }
        .plan-se{
            width: 48%;
            text-align: center;
            padding-bottom: 32px;
            .plan-se-title{
                font-size: 24px;
                line-height: 35px;
                border-bottom: 1px solid #DDDDDD;
                padding: 10px 0 16px 0;
            }
            .plan-se-adv{
                margin: 32px auto;
            }
            .sub-price{
                display: flex;
                justify-content: center;
                margin-left: 24px;
                margin-right: 24px;
                margin-bottom: 32px;
                .sub{
                    width: 169px;
                    padding: 24px 0;
                    text-align: center;
                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    .sub-number{
                        font-size: 12px;
                        line-height: 17px;
                        margin-bottom: 8px;
                    }
                    .sub-function{
                        color: $maincolor;
                        display: flex;
                        justify-content: center;
                        .sub-rate{
                            font-size: 32px;
                            line-height: 35px;
                            margin-right: 8px;
                        }
                        p{
                            align-self: end;
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
                .equal{
                    font-size: 29px;
                    line-height: 42px;
                    align-self: center;
                    margin: 0 21px;
                }
                .price{
                    width: 169px;
                    padding: 24px 0;
                    text-align: center;
                    background: #F5F5F5 0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    .monthly{
                        font-size: 12px;
                        line-height: 17px;
                        margin-bottom: 8px;
                    }
                    .price-function{
                        display: flex;
                        justify-content: center;
                        .price-rate{
                            font-size: 32px;
                            line-height: 35px;
                            margin-right: 8px;
                        }
                        p{
                            align-self: end;
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
            }
            .plan-feature{
                text-align: left;
                list-style: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg);
                list-style-position: outside;
                margin-left: 50px;
                .plan-feature-list{
                    margin-bottom: 16px;
                }
            }
            .fee-btn{
                margin-top: 16px;
            }
        }
    }
}

.faq{
    max-width: 904px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .faq-title{
        margin-bottom: 48px;
    }
    .faq-list{
        li{
            padding: 16px 32px;
            margin-bottom: 16px;
            .quest{
                display: flex;
                justify-content: space-between;
                h4{
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            p{
                line-height: 32px;
                color: #747474;
                padding: 24px 0 24px 0;
                text-align: left;
            }
        }
    }
}


// feeintro END-----------

// RWD---------------
@media (max-width:992px) {
    .bg-bn{
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg)no-repeat top right;
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        z-index: -1;
    }
    .promo{
        display: flex;
        justify-content: space-between;
        .slogan{
            align-self: center;
            p{
                font-size: 48px*0.8;
                line-height: 70px*0.8;
            }
    
            h3{
                font-size: 20px*0.8;
                line-height: 29px*0.8;
            }
    
        }
        
        .promoimg{
            max-width: 532px*0.8;
        }
    
    }

    .role{
        .role-list{
            .role-card{
                width: 45%;
                margin-bottom: 24px;
            }
        }
    }

    .feature{
        max-width: 1039px;
        display: flex;
        justify-content: space-between;
        .feature-list{
            max-width: 507px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .feature-card{
                width: 45%;
                padding: 32px 32px 48px 32px;
                margin-bottom: 28px;
                h4{
                    font-size: 18px;
                    line-height: 26px;
                    margin: 24px auto 16px 0;
                }
    
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    
        .feature-knowmore{
            align-self: center;
            h3{
                font-size: 32px;
                line-height: 46px;
                margin-bottom: 16px;
            }
    
            p{
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 24px;
            }
        }
    }

    .praise{
        .praise-list{
            .praise-card{
                .namerate{
                    flex-wrap: wrap;
                    .rate{
                        margin-left: auto;
                        margin-right: auto;
                        .star{
                            margin-top: 10px;
                        }
                    }
                }
            }
            }
            
        }
}
@media (max-width:767px) {
    .bg-bn{
        background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg)no-repeat top right;
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .promo{
        display: flex;
        justify-content: space-between;
        .slogan{
            align-self: center;
            p{
                font-size: 48px*0.75;
                line-height: 70px*0.75;
            }
    
            h3{
                font-size: 20px*0.75;
                line-height: 29px*0.75;
            }
    
        }
        
        .promoimg{
            max-width: 532px*0.6;
        }
    
    }

    .sns{
        .sns-title{
            text-align: center;
            margin-bottom: 48px;
        }
        ul{
            display: flex;
            justify-content: space-between;
    
            .sns-card{
                width: 30%;
                text-align: center;
    
                img{
                    max-width: 90px;
                    margin: 24px auto;
                }
    
                h4{
                    font-size: 24px;
                    line-height: 35px;
                    margin-bottom: 24px;
                }
                p{
                    color: #747474;

                    br{
                        display: none;
                    }
                }
            }
        }
    }

    .feature{
        margin-bottom: 80px;
        flex-direction: column-reverse;
        .feature-list{
            max-width: 80%;
            margin: 0 auto;
            margin-top: 32px;
            .feature-card{
                width: 43%;
                padding: 32px 32px 48px 32px;
                margin-bottom: 28px;
                h4{
                    font-size: 18px;
                    line-height: 26px;
                    margin: 24px auto 16px 0;
                }
    
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    
        .feature-knowmore{
            align-self: stretch;
            text-align: center;
            br{
                display: inline;
            }
        }
    }

    .praise{
        .praise-list{
            .praise-card{
                .namerate{
                    flex-wrap: wrap;
                    .rate{
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-left: auto;
                        margin-right: auto;
                        .star{
                            margin-top: 10px;
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            }
            
        }

        .plan{
            .plan-range{
                justify-content: start;
                overflow-x: auto;
                .plan-list{
                    white-space: nowrap
                }
            }
            .plan-compare{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .plan-base{
                    .sub-price{
                        display: flex;
                        justify-content: center;
                        margin-left: 24px;
                        margin-right: 24px;
                        margin-bottom: 32px;
                        .sub{
                            width: 169px*0.8;
                            padding: 24px 0;
                            .sub-function{
                                color: $maincolor;
                                display: flex;
                                justify-content: center;
                                .sub-rate{
                                    font-size: 32px*0.8;
                                    line-height: 35px*0.8;
                                    margin-right: 8px*0.8;
                                }
                                p{
                                    align-self: end;
                                    font-size: 12px;
                                    line-height: 17px;
                                }
                            }
                        }
                        .equal{
                            margin: 0 10px;
                        }
                        .price{
                            width: 169px*0.8;
                            padding: 24px 0px;
                            .price-function{
                                .price-rate{
                                    font-size: 32px*0.8;
                                    line-height: 35px*0.8;
                                    margin-right: 8px;
                                }
                                p{
                                    align-self: end;
                                    font-size: 12px;
                                    line-height: 17px;
                                }
                            }
                        }
                    }
                    .plan-feature{
                        margin-right: 24px;
                    }
                }
                .plan-se{
                    .sub-price{
                        .sub{
                            width: 169px*0.8;
                            padding: 24px 0;
                            .sub-function{
                                .sub-rate{
                                    font-size: 32px*0.8;
                                    line-height: 35px*0.8;
                                    margin-right: 8px;
                                }
                            }
                        }
                        .equal{
                            margin: 0 10px;
                        }
                        .price{
                            width: 169px*0.8;
                            padding: 24px 0;
                            .price-function{
                                .price-rate{
                                    font-size: 32px*0.8;
                                    line-height: 35px*0.8;
                                    margin-right: 8px;
                                }

                            }
                        }
                    }
                    .plan-feature{
                        margin-left: 50px;
                        margin-right: 24px;
                    }

                }
            }
        }
}
@media (max-width:576px) {
    // 模組----
    .m-title{
        font-size: 28px;
        line-height: 40px;
        font-weight: bold;
    }

    .section-space{
        margin-bottom: 60px;
    }
    
    // 模組end----
    // 全頁背景----
body{
    background-size: 0;
    
}
.hiroball-1{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg)no-repeat right; 
    background-size: contain;
    width: 126px;
    position: absolute;
    top: 145vh;

}

.hiroball-2{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg)no-repeat; 
    background-size: cover;
    width: 88px;
    height: 135px;
    position: absolute;
    top: 100vh;
    right: 0;
    z-index: -1;
    transform: translate(0,1900%);
}

.hiroball-3{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg)no-repeat top right; 
    background-size: cover;
    width: 77px;
    height: 153px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translate(0%,2950%);
}

.feeintro-body{
    .bg-block{
        background: #F7F9FD 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 0px 300px;
        width: 100vw;
        height: 90vh;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.bg-bn{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg)no-repeat top right;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.hiroball-4{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg)no-repeat top right; 
    background-size: cover;
    width: 94px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(0%,480%);
}

// 背景區end----
    .container{
        padding: 0 20px;
    }
    .header{
        display: none;
    
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        padding: 16px 20px;
        margin-bottom: 32px;
        border-bottom: 3px solid #FFD153;
        align-items: center;
        background: $basebgcolor;
    
        .logo{
            img{

                max-height: 24px;
                width: auto;
                
            } 
        }

        .fee-btn-org{
            background: #FF5D50;
            border: 1px solid #FF5D50;
            border-radius: 22px;
            color: white;
            line-height: 24px;
            padding: 8px 0;
            text-align: center;
            width: 128px;
        
            &:active{
                background: lighten(#FF5D50, 10%)
            }
    }
}

    .promo{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 92px;
        
        .slogan{
            
            h2{
                font-size: 16px;
                line-height: 24px;
            }

            p{
                font-size: 32px;
                line-height: 46px;
            }
    
            h3{
                font-size: 16px;
                line-height: 24px;
            }
    
        }
        
        .promoimg{
            background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg)no-repeat center bottom;
            background-size: contain;
            max-width: 532px;
            padding-bottom: 10px;
        }
    
    }

    .sns{
        margin-bottom: 60px;
        .sns-title{
            text-align: center;
            margin-bottom: 32px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .sns-card{
                width: 100%;
                text-align: center;
                margin-bottom: 24px;
    
                img{
                    max-width: 60px;
                    margin: 16px auto;
                }
    
                h4{
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 16px;
                }
                p{
                    color: #747474;
                }
            }
        }
    }

    .role{
        margin-bottom: 60px;
        .role-description{
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 32px;
    
        }
    
        .role-list{

            .role-card{
                margin-left: auto;
                margin-right: auto;
                width: 80%;

                &:last-child{
                    margin-right: auto;
                }
            }
        }
    }

    .feature{
        margin-bottom: 60px;
        .feature-list{
            max-width: 80%;
            margin: 0 auto;
            .feature-card{
                width: 230px;
                padding: 32px 24px 48px 24px;
                margin-bottom: 24px;
                h4{
                    font-size: 18px;
                    line-height: 26px;
                    margin: 24px auto 16px 0;
                }
    
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    
        .feature-knowmore{
            margin-bottom: 32px;px
            br{
                display: inline;
            }
            h3{
                font-size: 28px;
                line-height: 40px;
                margin-bottom: 16px;
            }
    
            p{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
            }
        }
    }

    .praise{
        margin-bottom: 60px;
        .praise-list{
            flex-wrap: wrap;
            .praise-card{
                width: 80%;
                margin: auto;
                margin-bottom: 60px;
                &:last-child{
                    margin-right: auto;
                }

                .namerate{
                    display: flex;
                    justify-content: space-between;
    
                    .rate{
                        align-self: center;
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 0 0;
    
                        .star{
                            margin: 0 8px 0 0;
                        }
                    }
                }
            }
            }
            
        }
    
        footer{
            max-width: 100%;
            .letstalk{
                background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg)no-repeat top center,white;
                background-size: 100%;
                text-align: center;
                padding: 293px 20px 60px 20px;
                h3{
                    font-size: 24px;
                    line-height: 35px;
                    margin-bottom: 24px;
                }
            }

        }

        .fee-intro{
            margin-top: 48px;
            margin-bottom: 421px;
            h3{
                font-size: 32px;
                line-height: 46px;
                margin-bottom: 16px;
            }
        
        }

        .plan{
            .plan-range{
                justify-content: start;
                margin: 24px 0px 32px auto;
                
                .plan-list{
                    margin-right: 6px;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 8px 16px;
                    &:active{
                        background: $maincolor;
                        color: white;
                    }
                }
            }
            .plan-compare{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .plan-base{
                    width: 100%;
                    text-align: center;
                    padding-bottom: 32px;
                    margin-bottom: 24px;
                    .plan-base-title{
                        font-size: 24px;
                        line-height: 35px;
                        border-bottom: 1px solid #DDDDDD;
                        padding: 10px 0 16px 0;
                    }
                    .plan-base-adv{
                        margin: 32px auto;
                    }
                    .sub-price{
                        display: flex;
                        justify-content: center;
                        margin-left: 24px;
                        margin-right: 24px;
                        margin-bottom: 32px;
                        .sub{
                            width: 169px;
                            padding: 24px 0px;
                            text-align: center;
                            background: #F5F5F5 0% 0% no-repeat padding-box;
                            border-radius: 12px;
                            .sub-number{
                                font-size: 12px;
                                line-height: 17px;
                                margin-bottom: 8px;
                            }
                            .sub-function{
                                color: $maincolor;
                                display: flex;
                                justify-content: center;
                                .sub-rate{
                                    font-size: 32px;
                                    line-height: 35px;
                                    margin-right: 8px;
                                }
                                p{
                                    align-self: end;
                                    font-size: 12px;
                                    line-height: 17px;
                                }
                            }
                        }
                        .equal{
                            font-size: 29px;
                            line-height: 42px;
                            align-self: center;
                            margin: 0 21px;
                        }
                        .price{
                            width: 169px;
                            padding: 24px 0px;
                            text-align: center;
                            background: #F5F5F5 0% 0% no-repeat padding-box;
                            border-radius: 12px;
                            .monthly{
                                font-size: 12px;
                                line-height: 17px;
                                margin-bottom: 8px;
                            }
                            .price-function{
                                display: flex;
                                justify-content: center;
                                .price-rate{
                                    font-size: 32px;
                                    line-height: 35px;
                                    margin-right: 8px;
                                }
                                p{
                                    align-self: end;
                                    font-size: 12px;
                                    line-height: 17px;
                                }
                            }
                        }
                    }
                    .plan-feature{
                        text-align: left;
                        list-style: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg);
                        list-style-position: outside;
                        margin-left: 50px;
                        .plan-feature-list{
                            margin-bottom: 12px;
                        }
                    }
                    .fee-btn{
                        margin-top: 12px;
                    }
                }
                .plan-se{
                    width: 100%;
                    text-align: center;
                    padding-bottom: 32px;
                    .plan-se-title{
                        font-size: 24px;
                        line-height: 35px;
                        border-bottom: 1px solid #DDDDDD;
                        padding: 10px 0 16px 0;
                    }
                    .plan-se-adv{
                        margin: 32px auto;
                    }
                    .sub-price{
                        display: flex;
                        justify-content: center;
                        margin-left: 24px;
                        margin-right: 24px;
                        margin-bottom: 32px;
                        .sub{
                            width: 169px;
                            padding: 24px 0;
                            text-align: center;
                            background: #F5F5F5 0% 0% no-repeat padding-box;
                            border-radius: 12px;
                            .sub-number{
                                font-size: 12px;
                                line-height: 17px;
                                margin-bottom: 8px;
                            }
                            .sub-function{
                                color: $maincolor;
                                display: flex;
                                justify-content: center;
                                .sub-rate{
                                    font-size: 32px;
                                    line-height: 35px;
                                    margin-right: 8px;
                                }
                                p{
                                    align-self: end;
                                    font-size: 12px;
                                    line-height: 17px;
                                }
                            }
                        }
                        .equal{
                            font-size: 29px;
                            line-height: 42px;
                            align-self: center;
                            margin: 0 21px;
                        }
                        .price{
                            width: 169px;
                            padding: 24px 0;
                            text-align: center;
                            background: #F5F5F5 0% 0% no-repeat padding-box;
                            border-radius: 12px;
                            .monthly{
                                font-size: 12px;
                                line-height: 17px;
                                margin-bottom: 8px;
                            }
                            .price-function{
                                display: flex;
                                justify-content: center;
                                .price-rate{
                                    font-size: 32px;
                                    line-height: 35px;
                                    margin-right: 8px;
                                }
                                p{
                                    align-self: end;
                                    font-size: 12px;
                                    line-height: 17px;
                                }
                            }
                        }
                    }
                    .plan-feature{
                        text-align: left;
                        list-style: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon_check.svg);
                        list-style-position: outside;
                        margin-left: 50px;
                        .plan-feature-list{
                            margin-bottom: 12px;
                        }
                    }
                    .fee-btn{
                        margin-top: 12px;
                    }
                }
            }
        }

        .faq{
            .faq-title{
                margin-bottom: 32px;
            }
            .faq-list{
                li{
                    padding: 16px;
                    .quest{
                        h4{
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    p{
                        padding: 16px 0 24px 0;
                    }
                }
            }
        }
}

// RWD END---------------